@charset "UTF-8";
[for=pdf-version],
[for=print-version]{
	text-decoration: underline;
	cursor: pointer;
}
#pdf-version:checked ~ * [for=pdf-version],
#print-version:checked ~ * [for=print-version]{
	display: inline-block;
	color: #fff;
	background-color: #bd1d3f;
	padding: 0 5px;
	text-decoration: none;
}
.pdf-version,.print-version{
	display: none;
}
#pdf-version:checked ~ .pdf-version,
#pdf-version:checked ~ * .pdf-version,
#print-version:checked ~ .print-version,
#print-version:checked ~ * .print-version{
	display: block;
}
#subscribe form,
#buy form{
	padding: 0.656%;
	box-sizing: border-box;
	width: 30%;
	min-width: 330px;
}
#subscribe input,
#subscribe textarea,
#news input,
#buy input,
#buy textarea{
	width: 100%;
	box-sizing: border-box;
	font-size: 1rem;
	margin-bottom: 0.5rem;
}
#subscribe input[type=radio]{
	display: none;
}
.red-link a,a.red-link,p.red-link{
	color: #bd1d3f;
}
p.red-link{
	font-weight: bold;
}
.blue-link a,a.blue-link{
	color: #1d25bd;
}
#subscribe svg,
#buy svg{
	vertical-align: middle;
}
.overlay{
	display: none;
	position: fixed;
	background-color: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 3%;
	overflow: auto;
	z-index: 10;
	cursor: pointer;
}
.overlay .wrap > a.close{
	position: absolute;
	top: 0;
	right: 0;
	margin: 1rem;
	font-size: 2rem;
	line-height: normal;
	width: 3rem;
	text-align: center;
	padding: 1rem;
	height: 3rem;
	color: #fff;
	background-color: #333;
	border: 0.125rem solid #ccc;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.4s ease;
}
.overlay .wrap > a.close:hover{
	background-color: #ccc;
	border-color: #888;
}
.overlay .wrap{
	cursor: default;
	display: flex;
	position: relative;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	min-height: 100%;
	padding: 1rem;
	box-shadow: 0 0 1.5rem;
	border-radius: 1rem;
}
#popup-wrap,
#news-wrap {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.7);
	cursor: pointer;
}
body.poped #popup-wrap,
body.poped #news-wrap {
	display: flex;
}
#popup,
#news {
	/* background: #fff; */
	cursor: auto;
	display: flex;
	flex-flow: column;
	align-items: center;
	/* padding: 10px; */
	/* box-sizing: border-box; */
	/* border: 1px solid #888; */
	/* border-radius: 10px; */
	/* box-shadow: 0 0 20px; */
	width: auto;
	position: relative;
}
#popup{
	background: #fff;
	padding: 1rem;
	box-sizing: border-box;
	border: 0.125rem solid #888;
	border-radius: 0.5rem;
	box-shadow: 0 0 1.5rem;
}
#pop-close {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	color: #fff;
	background: #333;
	width: 1.5em;
	height: 1.5em;
	position: absolute;
	top: 1rem;
	right: 1rem;
	border-radius: 0.25rem;
}
#pop-close:hover {
	color: #ccc;
	background: #888;
}
#news > h2 {
	margin-top: 0;
}
#popup img{
	height: auto;
}
#popup #description{
	padding-left: 0.5rem;
	text-align: center;
}
#contacts ul{
	font-size: 1.25rem;
	list-style: none;
	margin-top: 0;
	padding: 2.5%;
	text-align: center;
	max-width: 18rem;
}
.sni{
	line-height: 0;
}
.sni a{
	display: inline-flex;
	width: 3rem;
	height: 3rem;
}
.sni svg, #partners img{
	width: 100%;
	height: auto;
}
@media (max-width:511px){
	#table td img{
		max-width: 100px;
	}
}
@media (max-width:767px){
	html {
		font-size: 12px;
	}
	#popup{
		flex-direction: column;
		width: 480px;
	}
	#popup > *{
		width: 100%;
	}
}
@media (min-width:768px){
	#table td img{
		max-width: 200px;
	}
}
@media (min-width:768px) and (max-width:1039px){
	html {
		font-size: 1.538461538vw;
	}
}
@media (min-width:1200px){
	#table td img{
		max-width: 200px;
	}
}
