.light-blue{
  background: rgba(129, 211, 232, 0.4);
  color: #07718e;
}
.blue{
  background: rgba(66, 195, 224, 0.4);
  color: #086b82;
}
.light-green{
  background: rgba(155, 204, 86, 0.4);
  color: #497112;
}
.green{
  background: rgba(80, 175, 81, 0.4);
  color: #136c13;
}
.salat{
  background: rgba(146, 210, 167, 0.4);
  color: #1d773d;
}
.tean{
  background: rgba(2, 106, 124, 0.4);
  color: #025462;
}
.light-red{
  background: rgba(241, 105, 119, 0.4);
  color: #b70314;
}
.red{
  background: rgba(242, 100, 62, 0.4);
  color: #a82703;
}
.pink{
  background: rgba(235, 201, 225, 0.4);
  color: #a24d89;
}
.purple{
  background: rgba(181, 166, 209, 0.4);
  color: #6e54a2;
}
.orange{
  background: rgba(244, 205, 114, 0.4);
  color: #8e6300;
}
.gray{
  background: rgba(81, 121, 131, 0.4);
  color: #075b71;
}
.light-yellow{
  background: rgba(251, 241, 126, 0.4);
  color: #7d7310;
}
.yellow{
  background: rgba(246, 211, 69, 0.4);
  color: #826907;
}
