
@media(max-width: 1199px) {
  header {
    .wrap{
      max-width: 54rem;
    }
  }

  #logo{
    width: 33.333%;
    min-width: 200px;
  }

  #aside-nav,
  #aside-sidelist,
  .desktop-menu,
  #aside-menu .menu-article,
  #aside-menu .menu-site-banner {
    display: none !important;
  }

  .mobile-menu-container {
    display: block;
  }

  .main-content {
    flex-direction: column;
  }

  #aside-menu {
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 54rem;
    & > a {
      width: 50%;
      max-width: 306px;
      padding-top: 428.4px;
      margin: 0 0.25rem 0.5rem 0.25rem;
      .menu-issues {
        margin-top: 0;
      }
    }
  }

  #content {
    margin: 0 auto;
    max-width: 54rem;
    padding: 0 0.25rem;
  }
}
@media (min-width: 578px) and (max-width:871px){
  header {
    .wrap{
      max-width: 54.5rem;
    }
  }

  #content {
    padding: 0;
    .cell, .cell.c-2 {
      width: 50%
    }
  }

  #aside-menu {
    & > a {
      margin-right: 0.25rem;
      margin-left: 0.25rem;
      width: 50%;
      max-width: none;
      padding-top: 70%;
    }
    &.cell {
      padding: 0;
    }
  }

  .cell .back {
    padding-top:100%;
  }

}
@media (max-width:577px){
  header {
    .wrap {
      min-width: 26.666rem;
    }
  }
  #logo{
    padding-left: 0.25rem;
  }
  #aside-menu{
    padding-right: 0.25rem;
    padding-left: 0.25rem;
    flex-direction: column !important;
    align-items: center;
    & > a {
      width: 100%;
      max-width: 25.666rem;
      padding-top: 428.4px;
      margin: 0 0.5rem;
    }
  }

  #content {
    margin: 0 auto;
    .cell, .cell.c-2 {
      max-width: 29rem;
      width: 25.666rem;
      margin: 0 auto;
    }
  }

  .main-content {
    min-width: 26.666rem;
  }

  .cell {
    padding-right: 0rem;
    padding-left: 0rem;
  }
  .cell .back {
    padding-top:100%;
    margin-top: 0.666rem;
  }

  #contacts-wrap {
    .contacts-card-item {
      width: 18.75rem;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      margin-top: 0.5rem;

      .text-container {
        padding: 1rem;
      }

      &:last-child {
        .text-container {
          .text-wrap {
            & > p {
              &:first-child {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

}
